body {
    background: #000000;
}

h1#musicianName{
    margin: 60px auto;
    width: 500px;
    color: #FFFFFF;
    text-align: center;
    font-size: 3em;
}

#albumArea {
    margin: 30px auto;
    width: 500px;
    position: relative;
}
#albumArea img {
    width: 500px;
    height: 500px;
}
#albumArea #jacket {
    position: absolute;
    left: -150px;
    z-index: 2;
}
#albumArea #album {
    position: absolute;
    left: 150px;
    z-index: 1;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 5s linear infinite;
    -moz-animation: rotating 5s linear infinite;
    -ms-animation: rotating 5s linear infinite;
    -o-animation: rotating 5s linear infinite;
    animation: rotating 5s linear infinite;
}
